body {
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    padding: 20px;
    background-color: #f4f4f4;
}

#search-box {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-results {
    position: absolute;
    top: 40px; /* Đặt kết quả tìm kiếm ngay dưới ô tìm kiếm */
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Ẩn kết quả tìm kiếm ban đầu */
    max-height: 200px;
    overflow-y: auto;
}

.search-results div {
    padding: 10px;
    cursor: pointer;
}

.search-results div:hover {
    background-color: #f0f0f0;
}
